

.box-l .custom-control-label::before,
.box-l .custom-control-label::after {
  top: 1rem;
  width: 2.85rem;
  height: 2.85rem;
  border-color: black;
  border-radius: 5px;
  background-color: grey;
  cursor: pointer;
}


.box-l .custom-control-label {
  padding-top: 1.0rem;
  padding-left: 3rem;
  font-size: 1.5rem;
  padding-bottom: 1.0rem;
  cursor: pointer;
  margin-left: 10rem;
}
